*{
font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* Body */
body{
    background-color: black;
}
#redesSociales{
    color: whitesmoke;
    margin: auto;
    position: fixed;
    
}

#button{
    color: whitesmoke;
    margin: auto;
    position: relative;
    border-radius: 100%;
    text-shadow: 0rem .0rem .7rem yellow ;
}

#title-1{
    color: whitesmoke;
    margin: auto;
    position:fixed;
    left: 40%;
    border-radius: 1%;
    text-shadow: 0rem .0rem .7rem rgb(255,255,0)
}


#contacto1{
    position: fixed;
    margin: auto;
    left: 70%;
    top: 50%;
    text-shadow: 0rem 0rem .5rem red;
}


#title-2{
    color: whitesmoke;
    position:relative;
    top: auto;
    margin: auto;
    text-shadow: 0rem 0rem .7rem yellow
}

#parrafos{
    color: whitesmoke;
    position: fixed;
    margin: auto;
    text-shadow: 0rem 0rem .7rem red;
}

#imagen-logo{
    position:fixed;
    width: 350px;
    height: 100;
    margin:auto;
    left: 60%;
    bottom: 250px;
    border-radius: 100%;
}

#codigoQR{
    position:fixed;
    width: 4cm;
    height: 4cm;
    margin: auto;
    left: 45%;
    bottom: 150px;
    
  
}